<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="/static/animation/css/style.css">
</head>
<body> 
    
    <div id="page">
        <div class="txt-area">
            <h1 class="mid">Gryffindor</h1>
            <h1 class="mid">Hufflepuff</h1>
            <h1 class="mid">Ravenclaw</h1>
            <h1 class="mid">Slytherin</h1>
        </div>
        <div class="container">
            <div class="cards">
                <a href="/homepage"><img src="/static/animation/res/gryffindor.gif"></a>
            </div>
            <div class="cards">
                <a href="/homepage"><img src="/static/animation/res/hufflepuff.gif"></a>
            </div>
            <div class="cards">
                <a href="/homepage"><img src="/static/animation/res/ravenclaw.gif"></a>
            </div>
            <div class="cards">
                <a href="/homepage"><img src="/static/animation/res/slytherin.gif"></a>
            </div>
        </div>
        
        <div class="btn"> 
            <!-- <button class="backward">prev</button>
            <button class="forward">next</button> -->

            <div class="backward"></div>
            <div class="forward"></div>
            
        </div>
       
    </div>

    <img id="animate">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js" integrity="sha512-7Au1ULjlT8PP1Ygs6mDZh9NuQD0A5prSrAUiPHMXpU6g3UMd8qesVnhug5X4RoDr35x5upNpx0A6Sisz1LSTXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/animation/js/script.js"></script>
</body>
</html>