<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSA Page</title>
    <link rel="stylesheet" href="/static/events/Dsa/css/style.css">
</head>
<body>
    <div class="rishi">
        <div class="bars">
            <ul>
                <li><a href=""><h4>HOME</h4></a></li>
                <li><a href=""><h4>SCHEDULE</h4></a></li>
                <li><a href=""><h4>ACTIVITIES</h4></a></li>
                <li><a href=""><h4>THEMES</h4></a></li>
                <li><a href=""><h4>CONTACT US</h4></a></li>
            </ul>
        </div>
        <center><div class="boxers">
            <div class="writing">
                <div class="rishititle">
                    THE DSA ROUND
                </div>
                <div class="contenti">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, consequuntur aspernatur. Enim repellat quia sequi minima id voluptate ut, officiis porro culpa, architecto alias eius iste tempore, deleniti quos. Quas, iure explicabo tempora culpa enim repudiandae? Suscipit beatae fugiat facere, adipisci perspiciatis animi repellendus! Similique, nobis! Ea dolor dicta non, totam ad unde quod. Excepturi accusantium voluptates quam ullam, ducimus vel delectus corporis numquam, odit explicabo quod nemo voluptatum iste.

                </div>
            </div>
            <div class="videos">
                <video class="vids" autoplay loop muted src="/static/events/Dsa/images/video.mp4" type="video/mp4"></video>
            </div>
            
        </div></center>
        <div class="but">
            <button>REGISTER NOW</button>
        </div>
    </div>
     <div class="rishi1">
        
            <div class="natitle">DSA TOPICS</div>
            <div class="themes">
               
                <div class="emme">
                    <img src="/static/events/Dsa/images/p1.png" alt="">
                    <h3>Linked List</h3>
                </div>
                <div class="emme">
                    <img src="/static/events/Dsa/images/p1.png" alt="">
                    
                    <h3>Stacks</h3>
                </div>
                <div class="emme">
                    <img src="/static/events/Dsa/images/p1.png" alt="">
                    <h3>Graphs</h3>
                </div>
                <div class="emme">
                    <img src="/static/events/Dsa/images/p1.png" alt="">
                    <h3>Trees</h3>
                </div>
                
            </div>
            
        
    </div>
     
    <div class="rishi2">
        <h1>PRIZES</h1>
        <br>
        <h2>Worth $3000</h2>
        <div class="prixes">
            <div class="section">
                <img src="/static/events/Dsa/images/icon1.png" alt="">
            </div>
            <div class="section">
                <img src="/static/events/Dsa/images/icon2.png" alt="">
            </div>
            <div class="section">
                <img src="/static/events/Dsa/images/icon3.png" alt="">
            </div>
           
            
        </div>
    </div>
    
   <div class="rishi3">
    <h2 class="text-faq"><b>Frequently Asked Questions</b></h2>
      <div class="lol">
        
            <ul class="accordian">
                <li>
                    <input type="radio" name="accordian" id="first">
                    <label for="first">What are the essential resources for DSA?</label>
                    <div class="content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aspernatur ab iste, blanditiis ipsam exercitationem officia dolorum quia animi atque?</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordian" id="second">
                    <label for="second">What type of DSA questions are asked in interviews?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perspiciatis sapiente commodi? Sint repellat modi, voluptatum iusto fuga architecto corrupti tempora dolore facere non pariatur? Optio deserunt quibusdam soluta suscipit!</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordian" id="third">
                    <label for="third">HOw much time is required to learn DSA?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, corporis. Tenetur necessitatibus nihil, nulla amet maxime officia earum illo ex maiores. Non laudantium nihil necessitatibus recusandae quos natus officiis neque ad, dolores sunt id, officia consectetur eius cupiditate eligendi, voluptate ipsam fugit! Autem eveniet, aut odio quibusdam consectetur adipisci ullam!</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordian" id="fourth">
                    <label for="fourth">What are the affective ways to learn DSA?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, officia? Amet reprehenderit rem, aut velit voluptatum doloremque voluptatem perferendis, sint saepe minima hic quos eaque omnis ex aspernatur alias quidem. Itaque, excepturi totam eum nobis fugit laudantium minus magni delectus aliquid eos, hic ipsam, odio tempora autem voluptate quas qui?</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordian" id="fifth">
                    <label for="fifth">Is DSA tough?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius assumenda atque porro, modi repellendus exercitationem labore perferendis dignissimos architecto doloribus.</p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordian" id="sixth">
                    <label for="sixth">Is DSA necessary?</label>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nihil eveniet, recusandae accusamus iste cupiditate rem illum animi sit unde consectetur doloremque corrupti sequi nobis asperiores, in similique libero excepturi?</p>
                    </div>
                </li>
            </ul>
      </div>
    </div>
    
</body>
</html>