<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/events/Code_Puzzle/css/codepuzzle.css">
</head>
<body>
      <div class="cpmaster" >
        <div class="navbar">
          <li>Home</li>
          <li>Schdeule</li>
          <li>Activites</li>
          <li>Themes</li>
          <li>Contact Us  </li>

        </div>
        <div class="cppage1">
          <div class="contentcp">
            <img src="/static/events/Code_Puzzle/images/1st img.jpg" class="img" height="300vh">
            <div class="textcft">
            <h1 class=" head cpheading">Code <span class="head text1cp">Puzzle</span> </h1>
            <h2 class="cpabout">About</h2>
            <p>A puzzle is a game, problem, or toy that tests a person's ingenuity or knowledge. In a puzzle, the solver is expected to put pieces together (or take them apart) in a logical way, in order to arrive at the correct or fun solution of the puzzle.
            </p>
          </div>
          </div>
          <div class="buttoncp">
            <button class="cpbutton" >Register now</button>
          </div>
        </div>

        <div class="cppage2">
          <h1 class="theme themecp">Code Puzzle<span class="theme text2cp">THEMES</span> </h1>
          <div class="themecard">
            <div class="themecard1">
              <img src="/static/events/Code_Puzzle/images/save1.jpg" class="cpimg cpimg1" height="200vh">
              <h2 class="cpthemetext">THEME</h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Puzzle/images/save2.jpg" class="cpimg cpimg1">
              <h2 class="cpthemetext">THEME</h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Puzzle/images/save3.jpg" class="cpimg cpimg1">
              <h2 class="cpthemetext">THEME</h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Puzzle/images/save4.jpg" class="cpimg cpimg1">
              <h2 class="cpthemetext">THEME</h2>
            </div>
          </div>

          <div class="prizescp1"> 
            <h1 class="prizescp"> Prize</span> </h1>
            <h1 class="worthcp"> Worth $3000</span> </h1>
            <div class="cardcontain">
            <div class="themecard1">
              <img src="/static/events/Code_Puzzle/images/prize1.jpeg" class="cpimg cpimg1">
              <h2 class="cpthemetext"></h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Puzzle/images/prize2.jpeg" class="cpimg cpimg1">
              <h2 class="cpthemetext"></h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Puzzle/images/prize3.jpeg" class="cpimg cpimg1">
              <h2 class="cpthemetext"></h2>
            </div>
            </div>
          </div>
        </div>
        

        <div class="cppage3">
          <h1 class="sponsorscp">Sponsors</h1>
          <div class="sponpair">
            <div class="sponsorcard1">
              <img src="/static/events/Code_Puzzle/images/sp1.jpeg" class="cpimg cpimg1">
  
            </div>
            <div class="sponsorcard1">
              <img src="/static/events/Code_Puzzle/images/sp2.jpeg" class="cpimg cpimg1">
              
            </div>
          </div>
          <div class="sponpair">
            <div class="sponsorcard1">
              <img src="/static/events/Code_Puzzle/images/sp3.jpeg" class="cpimg cpimg1">
  
            </div>
            <div class="sponsorcard1">
              <img src="/static/events/Code_Puzzle/images/sp4.jpeg" class="cpimg cpimg1">
              
            </div>
          </div>
        </div>

        <div class="cppage4">
          <h2 class="cpquetext">FREQUENTLY<span class="quecp"> ASKED QUESTIONS</span> </h2>

          <div class="lower">
            <div class="last qes1">
              <h3>what is Code puzzle?</h6>
              <i class="fa-solid fa-plus"></i>
            </div>
            <hr />
            <div class="last ques2">
              <h3>what is Code puzzle?</h6>
              <i class="fa-solid fa-plus"></i>
            </div>
            <hr />
            <div class="last ques3">
              <h3>what is Code puzzle?</h6>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>

        </div>
      </div>
       
</body>
</html>