<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/events/Panel_Discussion/css/style.css">
</head>
<body>
    <div class="panel-main">
        <div class="panel-nav">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">SCHEDULE</a></li>
                <li><a href="">ACTIVITIES</a></li>
                <li><a href="">THEMES</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>
        </div>
        <div class="panel-page1">
            <h2>PRIZES</h2>
            <div class="panel-head">
                <div class="head-box" id="head-box1">
                    <video src="/static/events/Panel_Discussion/images/panel discussion.mp4" autoplay muted loop width="100%" height="90%"></video>
                </div>
                <div class="head-box" id="head-box2">
                    <h2>PANEL DISCUSSION</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempora quo necessitatibus, temporibus voluptatibus, mollitia autem ipsam dignissimos nostrum nemo, laudantium in sunt reprehenderit dolorem. Quo ipsam enim laborum suscipit!
                        Hic incidunt rerum modi numquam quisquam iusto! Blanditiis assumenda vitae, sequi aut voluptatum dolor hic. Unde dolor voluptates ullam assumenda magni doloremque! Aut, soluta nam. Animi sint modi vero non?
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-button">
            <button>Register Now</button>
        </div>
        <div class="panel-page2">
            <h2>PANEL DISCUSSION THEMES</h2>
            <div class="panel-themes">
                <div class="theme-box" id="theme-box1"></div>
                <div class="theme-box"  id="theme-box2"></div>
                <div class="theme-box"  id="theme-box3"></div>
                <div class="theme-box"  id="theme-box4"></div>
            </div>
        </div>
        <div class="panel-page3">
            <h2>PRIZES</h2>
            <h3>worth $3000</h3>
            <div class="panel-prizes">
                <div class="prize-box" id="prize-box1"></div>
                <div class="prize-box" id="prize-box2"></div>
                <div class="prize-box" id="prize-box3"></div>
            </div>
        </div>
        <div class="panel-page4">
            <h2>SPONSERS</h2>
            <div class="panel-sponsers">
                <div class="sponsers-box"></div>
                <div class="sponsers-box"></div>
            </div>
            <div class="panel-sponsers">
                <div class="sponsers-box"></div>
                <div class="sponsers-box"></div>
            </div>
        </div>
        <div class="panel-page5">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
            <div>
                <h2 class="text-faq"><b></b></h2>
                <ul class="accordian">
                    <li>
                        <input type="radio" name="accordian" id="first">
                        <label for="first">What is Panel Discussion ?</label>
                        <div class="content">
                            <p> 
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias aliquam repudiandae, laboriosam error vitae natus illum, possimus reiciendis praesentium aperiam sunt, cupiditate nemo tenetur earum tempora dicta nam officia impedit!
                            </p>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="accordian" id="second">
                        <label for="second">Who can participate ? </label>
                        <div class="content">
                            <p> 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fugit illum earum soluta voluptas repudiandae delectus eligendi temporibus facere dolorum numquam sunt amet debitis architecto in non, corrupti deleniti esse?
                            </p>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="accordian" id="third">
                        <label for="third"> Maximum no of Members ?</label>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia reprehenderit veniam deserunt cumque quibusdam sapiente nesciunt officia modi nam, eos in repudiandae unde vero necessitatibus. Perferendis quos aut quia.
                            </p>
                        </div>
                    </li>
                    <!-- <li>
                        <input type="radio" name="accordian" id="fourth">
                        <label for="fourth">where is innoved</label>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem consequuntur amet temporibus! Eveniet fuga doloremque voluptate blanditiis ipsam voluptatem necessitatibus dolor, voluptatibus aliquam nesciunt velit quo dolorem commodi sit laboriosam.
                            </p>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="accordian" id="fifth">
                        <label for="fifth">when is innoved</label>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquid atque dicta beatae a iure? Modi architecto quo numquam soluta neque est obcaecati expedita, quisquam dignissimos dolorem. Unde, inventore odit.
                            </p>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="accordian" id="sixth">
                        <label for="sixth">prizes of innoved</label>
                        <div class="content">
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ad soluta fuga cumque quos sint provident doloremque dolores, dignissimos neque iure repudiandae voluptates voluptas ea porro non corporis exercitationem! Officiis!
                            </p>
                        </div>
                    </li> -->
                </ul>
               
                
            </div>
        </div>
    </div>
</body>
</html>