<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/events/Code_Debug/css/code debug.css">
</head>
<body>
      <div class="cdmaster">
        <div class="navbar">
          <li>Home</li>
          <li>Schdeule</li>
          <li>Activites</li>
          <li>Themes</li>
          <li>Contact Us  </li>

        </div>
        <div class="cdpage1">
          <div class="contentcd">
            <img src="/static/events/Code_Debug/images/debug.jpeg" class="img">
            <div class="textcd">
            <h1 class=" head cdheading">Code <span class="head text1cd">Debug</span> </h1>
            <h2 class="cdabout">About</h2>
            <p>A code debugging competition event challenges participants to identify and correct errors in provided pieces of code within a specified time frame. Contestants showcase their programming prowess by troubleshooting and fixing bugs, demonstrating their problem-solving skills. The competition not only evaluates participants' coding proficiency but also emphasizes precision and speed in identifying and rectifying errors. This event fosters a collaborative and competitive environment, promoting teamwork and healthy rivalry among participants. It's a dynamic platform that sharpens debugging skills, encourages creative thinking, and celebrates the art of refining code to achieve optimal functionality. Participants gain valuable experience in troubleshooting, making it an engaging and educational coding challenge.</p>
          </div>
          </div>
          <div class="buttoncd">
            <button class="cdbutton" >Register now</button>
          </div>
        </div>
        <br><br><br><br><br>
        <div class="cdpage2">
          <h1 class="themecd">Code Debug<span class="text2cd"> THEMES</span> </h1>
          <div class="themecard">
            <div class="themecard1">
              <img src="/static/events/Code_Debug/images/save 1.jpeg" class="cdimg cdimg1">
              <h2 class="cdthemetext">THEME</h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Debug/images/save 2.jpeg" class="cdimg cdimg1">
              <h2 class="cdthemetext">THEME</h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Debug/images/save 3.jpeg" class="cdimg cdimg1">
              <h2 class="cdthemetext">THEME</h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Debug/images/save 4.jpeg" class="cdimg cdimg1">
              <h2 class="cdthemetext">THEME</h2>
            </div>
          </div>
          <br><br><br><br><br>
          <div> 
            <h1 class="prizescd"> Prize</span> </h1>
            <h1 class="worthcd"> Worth $3000</span> </h1>
            <div class="cardcontain">
            <div class="themecard1">
              <img src="/static/events/Code_Debug/images/prize1.jpeg" class="cdimg cdimg1">
              <h2 class="cdthemetext"></h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Debug/images/prize2.jpeg" class="cdimg cdimg1">
              <h2 class="cdthemetext"></h2>
            </div>
            <div class="themecard1">
              <img src="/static/events/Code_Debug/images/prize3.jpeg" class="cdimg cdimg1">
              <h2 class="cdthemetext"></h2>
            </div>
            </div>
          </div>
        </div>
        <br><br><br><br><br>
        <div class="cdpage3">
          <h1 class="sponsorscd">Sponsors</h1>
          <div class="sponpair">
            <div class="sponsorcard1">
              <img src="/static/events/Code_Debug/images/sp1.jpeg" class="cdimg cdimg1">
  
            </div>
            <div class="sponsorcard1">
              <img src="/static/events/Code_Debug/images/sp2.jpeg" class="cdimg cdimg1">
              
            </div>
          </div>
          <div class="sponpair">
            <div class="sponsorcard1">
              <img src="/static/events/Code_Debug/images/sp3.jpeg" class="cdimg cdimg1">
  
            </div>
            <div class="sponsorcard1">
              <img src="/static/events/Code_Debug/images/sp4.jpeg" class="cdimg cdimg1">
              
            </div>
          </div>
        </div>
        <br><br><br><br><br>
        <div class="cdpage4">
          <h2 class="cdquetext">FREQUENTLY<span class="quecft"> ASKED QUESTIONS</span> </h2>

          <div class="lower">
            <div class="last qes1">
              <h3>what is Code Debug?</h6>
              <i class="fa-solid fa-plus"></i>
            </div>
            <hr />
            <div class="last ques2">
              <h3>what tech stack is required?</h6>
              <i class="fa-solid fa-plus"></i>
            </div>
            <hr />
            <div class="last ques3">
              <h3>Can I participate individually?</h6>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>

        </div>
      </div>
       
</body>
</html>