<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Document</title>
    <link rel="stylesheet" href="/static/events/Robowar/css/style.css" />
  </head>
  <body>
    <div id="pg1">
      <div id="sec1">
        <div id="nav">
          <li>HOME</li>
          <li>SCHEDULE</li>
          <li>ACTIVITIES</li>
          <li>THEMES</li>
          <li>CONTACT US</li>
        </div>
      </div>

      <div id="sec2">
      <video autoplay muted loop src="/static/events/Robowar/images/video.mp4"></video>
        <div class="text">
          <h1><span id="one">ROBO</span><span id="two">WAR</span></h1>
          <h2>About</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            rem adipisci vitae? Quo velit esse eos, recusandae aliquid ratione
            repellendus quae repudiandae Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Recusandae, quibusdam laudantium. Vero
            reprehenderit perspiciatis, praesentium in at ab sit beatae.
          </p>
        </div>
      </div>

      <div id="sec3"><button id="register">Register Now</button></div>
      <div id="rect"></div>
    </div>

    <div id="pg2">
      <div id="sec4">
        <div id="text2">
          <span id="three">ROBOWAR <span id="four">THEMES</span> </span>
        </div>

        <div class="card">
          <div class="wrap">
            <div class="box">
              <img src="/static/events/Robowar/images/robo.png" alt="" />

              <div><h4>Metal Mayhem</h4></div>
            </div>

            <div class="box">
              <img src="/static/events/Robowar/images/ro2.png" alt="" />
              <div><h4>Circuit Clash</h4></div>
            </div>

            <div class="box">
              <img src="/static/events/Robowar/images/thh.png" alt="" />
              <div><h4>Bolt Brawl</h4></div>
            </div>

            <div class="box">
              <img src="/static/events/Robowar/images/ro4.jpeg" alt="" />
              <div><h4>Electric Rumble</h4></div>
            </div>
          </div>
        </div>
      </div>

      <div id="sec5">
        <div class="text3">
          <h3>PRIZES</h3>
          <p>Worth $3000</p>
        </div>

        <div class="card2">
          <div class="box2">
            <img id="bad1" src="/static/events/Robowar/images/bad1.png" alt="">

          </div>
          <div class="box2">
            <img id="bad2" src="/static/events/Robowar/images/bad2.png" alt="">
          </div>
          <div class="box2">
            <img id="bad3" src="/static/events/Robowar/images/bad3.png" alt="">

          </div>
        </div>
      </div>
    </div>

    <div id="pg3">
      <div id="sec6">
        <div id="text4">
          <h5>SPONSERS</h5>
        </div>

        <div class="wrap3">
          <div class="container3">
            <div class="box3"></div>
            <div class="box3"></div>
            <div class="box3"></div>
            <div class="box3"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="pg4">
      <div id="text5">
        <span id="five">FREQUENTLY</span> <span id="six">ASKED QUESTION</span>
      </div>

      <div class="lower">
        <div class="last">
          <h6>what is robowar?</h6>
          <i class="fa-solid fa-plus"></i>
        </div>
        <hr />
        <div class="last">
          <h6>what is robowar?</h6>
          <i class="fa-solid fa-plus"></i>
        </div>
        <hr />
        <div class="last">
          <h6>what is robowar?</h6>
          <i class="fa-solid fa-plus"></i>
        </div>
        <hr />
      </div>
    </div>
  </body>
</html>
